body {
  color: black;
  text-align: center;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 16px;
}

.header {
  color: white;
}

ol {
  display: flex;
  justify-content: space-around;
  height: 70px;
  align-items: center;
  list-style: none;
  margin: 10px;
  padding: 0;
  border: 1px solid black;
  border-radius: 5px;
  background: lightblue;
}

.contenedor {
  width: 70%;
  padding: 1em;
  border: 1px solid black;
  margin: 0 auto;
  text-align: center;
}

.contenedor h1 {
  font-size: 30px;
}

.contenedor p {
  font-size: 12px;
}
